.center {
    margin: auto;
    width: 51%;
 
    padding-left: 180px;
}

table, th, td {
    border:1px solid black;
    text-align: center;
    width:30%;
    
  }
th{
    background-color: rgb(205, 222, 250);
}

td{
    background-color: rgb(232, 250, 232);
}