<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  .center {
    margin: auto;
    width: 51%;
 
    padding-left: 180px;
}
</style>
  <title>{{key}}</title>

</head>
<body>
  <div class ="center">
    <h3>Welcome to the {{key| title}} website</h3>
    
  </div>
  {% comment %} {{ val }} {% endcomment %}
<p> {% include "STAS/includes/include.html" %}</p>
<p> {% include "STAS/includes/all_candidates_includes.html"%}</p>

  {%if val  %}

    <p>{{ val }}</p>
  {% else %}
    <p>The website yet to build!</p>
  {% endif%}


</body>
</html>
